<%- include('partials/_header') -%>

  <body>

    <%- include('partials/_navigation') -%>

      <!-- Page Header -->
      <header class="masthead" style="background-image: url('img/post-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-heading">

                <h1>
                  <%= post.title %>
                </h1>
                <h2 class="subheading">

                </h2>
                <span class="meta">Posted by
                  <a href="#">Start Bootstrap</a>
                  <%= post.dateCreated %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- Post Content -->
      <article>
        <div class="container">
          <div class="row">



            <div class="col-lg-8 col-md-10 mx-auto">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/640px-Image_created_with_a_mobile_phone.png"
                alt="post_photo">
              <p>
                <%= post.detail %>
              </p>


            </div>
          </div>
        </div>
      </article>

      <hr>

      <%- include("partials/_footer") %>